---
permalink: /ads.txt
eleventyExcludeFromCollections: true
---
{% if ads.adsensePublisherId | validPublisher %}google.com, {{ ads.adsensePublisherId | replace('ca-pub-', 'pub-') }}, DIRECT, f08c47fec0942fa0{% endif %}
