---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <language>en-us</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{{ collections.posts | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    {%- for post in collections.posts | limit(20) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      {%- for slug in post.data.topics %}
      <category>{{ slug | topicName }}</category>
      {%- endfor %}
      <description>{{ post.data.excerpt or post.templateContent | excerpt }}</description>
      {%- if post.data.featuredImage %}
      {# The declared type has to match the file; these are a mix of jpg, png and webp. #}
      <enclosure url="{{ site.url }}{{ post.data.featuredImage | encodePath }}" type="{{ post.data.featuredImage | imageMimeType }}" length="{{ post.data.featuredImage | assetBytes }}"/>
      {%- endif %}
    </item>
    {%- endfor %}
  </channel>
</rss>
